.start-button {
  width: 100%;
  font-size: var(--font-size-md);
  font-weight: 600;
  padding: 1rem 3.5rem;
  border: 3px solid transparent;
  border-radius: var(--radius-sm);
  background-color: black;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
}
