.quiz {
  background-color: #fff;
  max-width: 600px;
  width: 100%;

  border-radius: var(--radius-sm);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.quiz-text {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: var(--margin-bottom-md);
}

.quiz-info {
  margin-bottom: var(--margin-bottom-md);
  display: flex;
  justify-content: space-between;
}

.quiz-number,
.score-number {
  font-size: var(--font-size-xs);
  color: var(--color-text);
}

.answer__container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-bottom-sm);
  margin-bottom: var(--margin-bottom-md);
}

.answer-btn {
  text-align: left;
  padding: 1rem 2rem;
  border: 3px solid var(--color-grey-dark-1);
  border-radius: 6px;
  font-size: var(--font-size-md);
  background-color: #000;
  color: var(--color-grey-white);
  cursor: pointer;
  transition: all 0.3s ease;
}
.answer-btn.correct {
  color: #000;
  background-color: var(--color-widimo-green);
  border: 3px solid rgb(84, 242, 5);
  transition: all 0.3s ease;
}
.answer-btn.incorrect {
  color: white;
  transition: all 0.3s ease;
  background-color: var(--color-red);
  border: 3px solid red;
}

.result__info {
  padding: 2rem;
  border-radius: var(--radius-sm);
  margin-bottom: var(--margin-bottom-md);
}

.result__text {
  font-size: var(--font-size-md);
  font-weight: 400;
  margin-bottom: var(--margin-bottom-sm);
}

.result__title {
  font-size: var(--font-size-lg);
  font-weight: 400;
}
.restart-button {
  border: none;
  background-color: rgb(50, 46, 46);
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: var(--radius-sm);
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.screen {
  display: none;
  padding: 3rem;
  position: relative;
  text-align: center;

  &__title {
    font-size: var(--font-size-2xl);
    font-weight: 700;
    margin-bottom: var(--margin-bottom-sm);
  }

  &__text {
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--color-grey-dark-1);
    margin-bottom: var(--margin-bottom-lg);
  }
}

.screen.active {
  display: block;
}
